.center{
	text-align: center;
}
.right{
	text-align-last:right;
}
.large{
  font-size:200%;
}

.big{
     font-size: 70px; /* サイズの指定 */
}

.menu{
     font-size: 25px; /* サイズの指定 */
}

.white {
     color: #e6e6e6; /* カラーの指定 */
}

.orange {
     color: #faac58; /* カラーの指定 */
}