<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>勤怠情報@編集</title>
<meta name="viewport"content="initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link href="../../css/bootstrap-custom.min.css" rel="stylesheet" type="text/css" />
<link href="../../css/app.min.css" rel="stylesheet" type="text/css" />
<link href="../../plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/popper.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
</head>
<h1>　勤怠情報@編集</h1>

<body style="padding-top: 7rem">

    <!-- NAVBAR -->
<nav class="navbar bg-info navbar-expand fixed-top">
      <div class="navbar-brand d-none d-lg-block">
        <a href="#"><i class="material-icons big white">home</i></a>
      </div>
      <div class="container-fluid p-0">
        <button id="tour-fullwidth" type="button" class="btn btn-default btn-toggle-fullwidth"><i class="material-icons big white"></i></button>
        <div id="navbar-menu">
             <ul class="nav navbar-nav align-items-center">

 			<li class="nav-item">
            	<a class="nav-link menu" href="/members/new">　【社員情報】登録　</a>
            </li>   
            
            <li class="nav-item">
            	<a class="nav-link menu" href="/attendances/new">　【勤怠情報】登録　</a>
            </li>      
          
            <li class="nav-item">
            	<a class="nav-link menu" href="/members">　社員リスト　</a>
            </li>
            
			<li class="nav-item">
            	<a class="nav-link menu" href="/attendances">　勤怠リスト　</a>
            </li>
          </ul>
        </div>
      </div>  
    </nav>
    <!-- END NAVBAR -->
<br>
<br>
<!-- SUBMIT TICKETS -->
              <div class="card col-sm-7 container-fluid">
                <div class="card-header">
                  <h2 class="card-title">※変更する場所を指定して入力してください</h2>
                </div>
                <div class="card-body">
                  <form  th:action="@{/attendances/{attendanceId}(attendanceId=${attendance[0]})}" th:method="post" th:object="${attendance}">
                      
                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">※勤怠ID</label>
                          <input type="text" class="form-control-lg col-sm-7 bg-secondary text-light" name="attendanceId" readonly th:value="${attendance[0]}" />
                      </div>
                      
                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">※社員ID</label>
                          <input type="text" class="form-control-lg col-sm-7 bg-secondary text-light" name="memberId" readonly th:value="${attendance[1]}" />
                      </div>
                      
                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">※名前</label>
                          <input type="text" class="form-control-lg col-sm-7 bg-secondary text-light" name="name" readonly th:value="${attendance[2]}" />
                      </div>
                      
                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">勤務区分</label>
                          <select  class="form-control-lg col-sm-7" name="workDivision" th:value="${attendance[3]}">
                          <option th:selected="${attendance[3]} == ${attendance[3]}" th:text="${attendance[3]}"></option>
                          <option value="出勤">出勤</option>
                          <option value="有給">有給</option>
                          </select>
                      </div>
                      
                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">日付</label>
                          <input type="date" class="form-control-lg col-sm-7" name="date" th:value="${attendance[4]}" />
                      </div>

                     <div class="form-group form-inline">
                        <label class="col-sm-3 large center">出勤時刻</label>
                          <input type="time" class="form-control-lg col-sm-7" name="punchIn" th:value="${attendance[5]}" />
                      </div>


                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">退勤時刻</label>
                          <input type="time" class="form-control-lg col-sm-7" name="punchOut" th:value="${attendance[6]}" />
                      </div>

                        <div class="form-group form-inline">
                        <label class="col-sm-3 large center">休憩時間(分)</label>
                          <input type="text" class="form-control-lg col-sm-7" name="breakTime" th:value="${attendance[7]}" />
                      </div>

                      <div class="form-group form-inline">
                        <label class="col-sm-3 large center">備考</label>
                          <textarea type="text" class="form-control-lg col-sm-7" name="remarks" rows="3" cols="50" th:value="${attendance[8]}" ></textarea>
                      </div>

                      <div class="form-group row">
                        <div class="offset-sm-3 col-sm-7">
                          <button type="submit" class="btn btn-primary btn-block">更新</button>
                        </div>
                      </div>

          
                  </form>
                </div>
              </div>
              <!-- END SUBMIT TICKETS -->

</body>
</html>