<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link href="../css/icon.css" rel="stylesheet" type="text/css"/>
<link href="../css/login.css" rel="stylesheet" type="text/css" />
<script src="../js/jquery.min.js" ></script>
<script src="../js/login.js" ></script>
</head>

<body>
<form  th:action="@{/login}"  method="post">
<div id="formWrapper">

<div id="form">

<div class="log">
<i class="material-icons md-dark log">lock</i>
</div>
<!--/* ログインエラー時にメッセージを表示 */-->
        <div th:if="${notification == 2}" class="message red">
            Username または Password が正しくありません
        </div>
        
  <div class="form-item">
      <p class="formLabel">Username</p>
      <input type="text" name="userName" class="form-style" />
    </div>
    <div class="form-item">
      <p class="formLabel">Password</p>
      <input type="text" name="password" class="form-style">
      <div class="pw-view"><i class="fa fa-eye"></i></div>    
    </div>

<br>
    <div class="form-item">
    <!-- <p class="pull-left"><a href="#"><small>　Admin</small></a></p> -->
    <input type="submit" class="login center-block" value="Login">
    <div class="clear-fix"></div>
    </div>
</div>
</div>
</form>
</body>

</html>